* {
    background-color: bisque;
}


.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 350%;
}


.roboto-mono-cards {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#summary-cards {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
    justify-content: space-around;
}

.info-card {
    flex: 1;
    margin: 10px;
    padding: 2px;
    background-color: rgba(102, 221, 102, 0.664);
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
}

.info-card > h3, h4 {
    background-color: transparent;
}

.add-edit {
    background-color: rgb(26, 184, 26);
    color: #fff;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}

#add-item-window {
    display:none;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: justify;
}

#add-item-window, #add-item-window > label, input {
    background-color: #fff;
}

table {
    margin: auto;
    margin-top: 15px;
    border-collapse: collapse;
}

caption {
    background-color: #000000;
    color: #fff;
    padding: 8px;
    border-radius: 25px 25px 0 0;
}

#table-header {
    background-color: rgba(133, 34, 34, 0.800);
    color: #fff;
}

.item-row {
    background-color: rgba(102, 247, 102, 0.664);
    border-bottom: 2px solid black;
}

th, td {
    padding: 20px;
    margin: 40px;
    padding: 10px 20px;
    text-align: center;
    background-color: transparent;
}

#write-off-btn {
    background-color: #857f7f;
}

.table-btns {
    margin: 0px;
    padding: 10px 15px;
}