@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,699;1,699&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,345;1,345&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,345;1,345&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    background-color: bisque;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 350%;
}

.roboto-mono-cards {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-condensed-table {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.playwrite-at-project {
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

#aprbh-text {
    font-size: 250%;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#logo-panelinhas {
    max-width: 10%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-aprbh {
    max-width: 10%;
    height: auto;
    display: block;
}

h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#summary-cards {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
    justify-content: space-around;
}

.info-card {
    flex: 1;
    margin: 10px;
    padding: 2px;
    background-color: rgba(102, 221, 102, 0.664);
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
}

.info-card > h3, h4 {
    background-color: transparent;
}

.add-edit {
    background-color: rgb(26, 184, 26);
    color: #fff;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}

#add-item-window {
    display:none;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: justify;
}

#add-item-window, #add-item-window > label, input {
    background-color: #fff;
}

table {
    margin: auto;
    margin-top: 15px;
    border-collapse: collapse;
}

caption {
    background-color: #000000;
    color: #fff;
    padding: 8px;
    border-radius: 25px 25px 0 0;
    font-size: 150%;
}

#table-header {
    background-color: rgb(197, 139, 51);
    color: #fff;
}

.item-row {
    background-color: rgba(95, 194, 95, 0.664);
    border-bottom: 2px solid black;
}

th, td {
    padding: 20px;
    margin: 40px;
    padding: 10px 20px;
    text-align: center;
    background-color: transparent;
}

#write-off-btn {
    background-color: #857f7f;
}

.table-btns {
    margin: 0px;
    padding: 10px 15px;
}

#write-off-description {
    width: 300px;
    height: 80px;
    resize: none;
    overflow-wrap: break-word;
}

#write-off-info > button {
    margin: 0%;
}

#write-off-info {
    margin: 20px 10px;
}